</table>
<div id="<%= dom_id coin %>">
<table class="table table-hover">
    <thead>
      <tr>
      <th><%= Coin.human_attribute_name(:description) %></th>
      <th><%= Coin.human_attribute_name(:acronym) %></th>
      <th><%= Coin.human_attribute_name(:url_image) %></th>
      <th><%= Coin.human_attribute_name(:mining_type) %></th>
      </tr>
    </thead>
    </tbody>
    <tr>
      <td><%= coin.description %></td>
      <td><%= coin.acronym %></td>
      <td><%= image_tag coin.url_image, size: "25x25"%></td>
      <td><%= coin.mining_type.description%></td>
      <td><%= link_to t('links.show'), coin %></td>
      </tr>
    </tbody>

  </table>
  </div>